.App {
  position: absolute;
  // margin: 0 calc(5vw + 80px) 0 calc(5vw - 80px);
  margin: 0 5vw;
  // margin-left: 80px;
  // display: block;
  width: 90vw;
  // transform: translateX(-8px);
  // min-width: 480px;
  // text-align: center;
  // background-color: rgb(226, 115, 115);  
  
  .cocktails--container {
    width: 90vw;
    // min-width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-content: center;
    flex-wrap: wrap;
    // background-color: rgb(63, 10, 255);
  }
}
