.cocktail--container {
  margin: 3vh 2vh;
  flex-basis: 25vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .cocktail--name {
    width: 100%;
    color: blanchedalmond;
    text-shadow: 2px 2px 4px #ffffff;
    text-align: center;
    cursor: pointer;
  }

  .cocktail--img {
    margin: 0 2vw;
    height: 20vh;
    width: auto;
    border-radius: 10%;
    filter:drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.226));
    cursor: pointer;
  }
}
